---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Redes from '../components/Redes.astro';
import Hobbies from '../components/Hobbies.astro';
---

<Layout title="Portfolio">
	<main class="bg-pink-200 min-h-screen">
		<Hero/>
		<Redes/>
		<Hobbies/>
	</main>
</Layout>
