---
import Layout from '../layouts/Layout.astro';

---
<section id="hero" class="pt-18 pb-10">
	<div class="grid grid-cols-3 grid-rows-4 gap-4 max-w-6xl mx-auto ">
		<div class="row-span-2 bg-amber-50">Foto</div>
		<div class="col-span-2 bg-amber-100">Nombre + @</div>
		<div class="col-span-2 col-start-2 row-start-2 bg-amber-200">redes</div>
		<div class="col-span-3 row-span-2 row-start-3 bg-amber-300">intro</div>
	</div>
</section>


