---
import Layout from '../layouts/Layout.astro';

---
<section id="hero" class="bg-pink-200 min-h-screen py-18">
	<div class="grid grid-cols-5 grid-rows-5 gap-4 max-w-7xl mx-auto">
		<div class="bg-amber-100 col-span-3 row-span-2 rounded-2xl">
			<h1 class="text-center text-7xl font-extrabold">
				Portfolio
			</h1>
		</div>
		<div class="bg-amber-200 row-span-2 col-start-1 row-start-3 rounded-2xl">1</div>
		<div class="bg-amber-300 row-span-2 col-start-3 row-start-3 rounded-2xl">2</div>
		<div class="bg-amber-400 row-span-2 col-start-2 row-start-3 rounded-2xl">3</div>
		<div class="bg-amber-500 col-span-2 row-span-3 col-start-4 row-start-2 rounded-2xl">4</div>
		<div class="bg-amber-600 col-span-2 col-start-4 row-start-1 rounded-2xl">5</div>
	</div>
</section>


