---
import Layout from '../layouts/Layout.astro';

---
<section id="hobbies" class="pb-10">
    <div class="bg-amber-500 max-w-6xl mx-auto">
        Hobbies
        <div class="bg-amber-200 max-w-6xl mx-auto pt-4">
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
        </div>
    </div>
</section>