---
import Layout from '../layouts/Layout.astro';

---
<section id="redes" class="pb-10">
    <div class="bg-amber-400 max-w-6xl mx-auto">
        Redes
        <div class="bg-amber-200 max-w-6xl mx-auto pt-4">
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
        </div>
    </div>
    
</section>